@import "_settings-css";
@import "_pattern";
@import "_peremenn";

body {
    font-family: "Open Sans", 'Lato', 'Raleway' sans-serif;
}
header {
    max-width: 1155px;
    margin: 0 auto;
}
nav {
    height: 93px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 795px;
        li {
            a {
                display: block;
                text-transform: uppercase;
                font-family: 'Lato';
                font-size: 14px;
                font-weight: normal;
                color: #868686;
                &:hover{
                    display: inline-block;
                    border-radius: 2px;
                    padding: 10px 20px;
                    background-color: #ffbb42;
                    color: #fff;
                    transition: .4s all;
            }
            &:first-child{
                padding-left: 22px;
                }
            }
        }
    }
}
.banner {
    background-color: #709dca;
    height: 600px;
}
h1 {
    padding: 110px 0 33px;
    @extend %Paragraph;
    font-size: 35px;
}
form {
    text-align: center;
    padding-bottom: 67px;
    input {
        width: 281px;
        height: 46px;
        padding: 0 41px;
        margin-left: 10px;
        font-family: 'Lato';
        font-size: 13px;
        font-weight: normal;
        letter-spacing: normal;
        color: #a9a9a9;
        &:first-child {
            margin-left: 0;
            background-image: url(../img/name.png);
            background-repeat: no-repeat;
            background-position: 15px center;
        }
        &:nth-child(2) {
            background-image: url(../img/message.png);
            background-repeat: no-repeat;
            background-position: 15px center;
        }
        &:nth-child(3) {
            background-image: url(../img/tell.png);
            background-repeat: no-repeat;
            background-position: 15px center;
        }
    }
    button {
        text-transform: uppercase;
        width: 211px;
        height: 46px;
        border-radius: 2px;
        background-color: #ffbb42;
        margin-left: 10px;
        font-family: 'Open Sans';
        color: white;
    }
}

.sl {
    margin: 0 auto;
    position: relative;
    max-width: 647px;
    height: 333px;
    border-bottom: 15px solid gray;
    &:after {
        display: block;
        position: absolute;
        width: 100%;
        height: 343px;
        top: 0;
        left: 0;
        content: '';
        border-bottom: 10px solid #3e3a32;
        border-radius: 0 0 10px 10px;
    }
}
.slider {
    margin: 0 auto;
    max-width: 443px+34px;
    height: 282+18+18px;
    border: 20px solid black;
    border-bottom: 35px solid black;
    border-radius: 20px 20px 0 0;
    display: flex;
    overflow: hidden;
    .slim {
        display: flex;
    }
    input {
        position: absolute;
        top: 120%;
        left: 45%;
        cursor: pointer;
        &:nth-child(2) {
            margin-left: 22px;
        }
        &:nth-child(3) {
            margin-left: 44px;
        }
    }
    .image1 {
        background: url(../img/ludi.png) 0 0 no-repeat;
        width: 445px;
    }
    .image2 {
        background: url(../img/ludi.png) 0 0 no-repeat;
        width: 445px;
    }
    .image3 {
        background: url(../img/ludi.png) 0 0 no-repeat;
        width: 445px;
    }
    #slider1:checked~.slim {
        transform: translateX(0);
        transition: .3s all;
    }
    #slider2:checked~.slim {
        transform: translateX(-34%);
        transition: .3s all;

    }
    #slider3:checked~.slim {
        transform: translateX(-68%);
        transition: .3s all;
    }
}
h2 {
    margin: 210px auto 90px;
    @extend %Paragraph;
    color: #394b50;
}
.block {
    display: flex;
    justify-content: space-between;

    .block1 {
        max-width: 549px;

        div {
            min-height: 92px;
            margin-bottom: 65px;
            position: relative;

            &:nth-child(1)::before {
                display: block;
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 50px;
                height: 50px;
                background: url(../img/1-1.png) 0px 0px no-repeat;
                transition: .6s all;
            }

            &:nth-child(1):hover:before {
                display: block;
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 50px;
                height: 50px;
                background: url(../img/1.png) 0px 0px no-repeat;
                transition: .5s all;
            }

            &:nth-child(2) {
                background: url(../img/2.png) 0px 0px no-repeat;
            }

            &:nth-child(3) {
                background: url(../img/3.png) 0px 0px no-repeat;
            }

            >h2 {
                padding-left: 81px;
                font-family: 'Lato';
                font-size: 16px;
                font-weight: bold;
                color: #394b50;
                margin: 0 0 21px;
                text-align: left;
            }

            >p {
                max-width: 488px;
                padding-left: 81px;
                font-family: 'arial';
                font-size: 13px;
                font-weight: normal;
                line-height: 1.69;
                color: #7b7b7b;
            }
        }
    }

    .block2 {
        max-width: 549px;

        div {
            min-height: 92px;
            margin-bottom: 65px;

            &:nth-child(1) {
                background: url(../img/4.png) 0px 0px no-repeat;
            }

            &:nth-child(2) {
                background: url(../img/5.png) 0px 0px no-repeat;
            }

            &:nth-child(3) {
                background: url(../img/6.png) 0px 0px no-repeat;
            }

            >h2 {
                display: block;
                padding-left: 81px;
                font-family: 'Lato';
                font-size: 16px;
                font-weight: bold;
                color: #394b50;
                margin: 0 0 21px;
                text-align: left;
            }

            >p {
                max-width: 521px;
                padding-left: 81px;
                font-family: 'arial';
                font-size: 13px;
                font-weight: normal;
                line-height: 1.69;
                color: #7b7b7b;
            }
        }
    }
}

.banner1-ABout {
    display: flex;
    justify-content: center;
    min-height: 623px;
    .banner1 {
        background-image: url(../img/banner1.png);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 50%;
    }
    #About_us {
        width: 50%;
        background-color: #ffc155;

        >h2 {
            font-family: 'Raleway';
            font-size: 30px;
            font-weight: 900;
            letter-spacing: -0.75px;
            color: #fff;
            margin: 164px 0 0 81px;
            text-align: left;
        }

        >p {
            max-width: 493px;
            margin: 28px 0 0 81px;
            font-family: 'arial';
            font-size: 13px;
            font-weight: normal;
            line-height: 1.85;
            letter-spacing: normal;
            color: #fff;
        }

        a {
            display: inline-block;
            font-family: 'Lato';
            font-size: 14px;
            font-weight: normal;
            text-transform: uppercase;
            color: #fff;
            margin: 33px 0 0 81px;
            padding: 17px 33px 16px 32px;
            border-radius: 2px;
            border: solid 1px #e7ad48;
        }
    }
}
// __________________________________________________________Pricing_________________
#Pricing {
    background-color: #e7edf3;
    height: 898px;

    >h2 {
        margin: 0 auto 79px;
        padding: 137px 0 0;
    }
}

.Choos {
    display: flex;
    justify-content: space-between;
    @media (max-width:405px) {
        flex-direction: column;
    }
    .Choos1 {
        width: 33.33%;
        height: 441px;
        border-radius: 3px;
        border: solid 1px #ccd5df;
        background-color: #fff;
        text-align: center;
        color: $color;
        @media (max-width:600px) {
            height: 100%;
        }
        &:nth-child(1):hover,
        &:nth-child(2):hover,
        &:nth-child(3):hover{
            background-color: #709dca;
            width: 395px;
            height: 501px;
            margin: -30px auto;
            justify-content: center;
            padding-top: 20px;
            transition: .5s all;
            color: #fff;
            >p{
                color: #fff;
            }
        }
        >h3 {
            margin-top: 53px;
            text-transform: uppercase;
            font-family: 'Lato';
            font-size: 25px;
            font-weight: 300;
            font-style: normal;
        }
        >p {
            &:nth-child(2){
                font-family: 'lato';
                margin-top: 23px;
                font-size: 60px;
                font-weight: bold;
                display: flex;
                color:  #e7ad48;;
                justify-content: center;
                align-self: flex-start;
            }
            >span {
                display: inline-block;
                font-size: 30px;
            }
            &:nth-child(3){
                margin: 3px auto 33px 0;
                text-transform: uppercase;
                font-family: 'Lato';
                font-size: 15px;
                font-weight: 300;
            }
            &:nth-child(4),
            &:nth-child(6){
                margin: -4px auto;
                text-transform: uppercase;
                font-family: 'Lato';
                font-size: 14px;
                font-weight: normal;
                line-height: 2.86;
                max-width: 329px;
                border-top: 1px solid #e2e9f0;
            }
            &:nth-child(5){
                margin: 4px auto;
                text-transform: uppercase;
                font-family: 'Lato';
                font-size: 14px;
                font-weight: normal;
                line-height: 2.86;
                max-width: 329px;
                border-top: 1px solid #e2e9f0;
            }
        }
        >a{
            display: inline-block;
            text-transform: uppercase;
            margin: 22px auto;
            padding: 16px 21px;
            border-radius: 2px;
            background-color: #ffbb42;
            font-family: 'Lato';
            font-size: 14px;
            font-weight: normal;
            color: #fff;
        }
    }
}
