* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

h1, h2, #How > h2, #Happy > h3 {
  margin: 0 auto;
  text-align: center;
  font-family: 'Raleway';
  text-transform: uppercase;
  max-width: 721px;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: -0.88px;
  color: #fff;
}

h1 span, h2 span, #How > h2 span, #Happy > h3 span {
  display: block;
  font-family: 'Arial';
  text-transform: none;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: normal;
}

body {
  font-family: "Open Sans", 'Lato', 'Raleway' sans-serif;
}

header {
  max-width: 1155px;
  margin: 0 auto;
}

nav {
  height: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 795px;
}

nav ul li a {
  display: block;
  text-transform: uppercase;
  font-family: 'Lato';
  font-size: 14px;
  font-weight: normal;
  color: #868686;
}

nav ul li a:hover {
  display: inline-block;
  border-radius: 2px;
  padding: 10px 20px;
  background-color: #ffbb42;
  color: #fff;
  -webkit-transition: .4s all;
  -o-transition: .4s all;
  transition: .4s all;
}

nav ul li a:first-child {
  padding-left: 22px;
}

.banner {
  background-color: #709dca;
  height: 600px;
}

h1 {
  padding: 110px 0 33px;
  font-size: 35px;
}

form {
  text-align: center;
  padding-bottom: 67px;
}

form input {
  width: 281px;
  height: 46px;
  padding: 0 41px;
  margin-left: 10px;
  font-family: 'Lato';
  font-size: 13px;
  font-weight: normal;
  letter-spacing: normal;
  color: #a9a9a9;
}

form input:first-child {
  margin-left: 0;
  background-image: url(../img/name.png);
  background-repeat: no-repeat;
  background-position: 15px center;
}

form input:nth-child(2) {
  background-image: url(../img/message.png);
  background-repeat: no-repeat;
  background-position: 15px center;
}

form input:nth-child(3) {
  background-image: url(../img/tell.png);
  background-repeat: no-repeat;
  background-position: 15px center;
}

form button {
  text-transform: uppercase;
  width: 211px;
  height: 46px;
  border-radius: 2px;
  background-color: #ffbb42;
  margin-left: 10px;
  font-family: 'Open Sans';
  color: white;
}

.sl {
  margin: 0 auto;
  position: relative;
  max-width: 647px;
  height: 333px;
  border-bottom: 15px solid gray;
}

.sl:after {
  display: block;
  position: absolute;
  width: 100%;
  height: 343px;
  top: 0;
  left: 0;
  content: '';
  border-bottom: 10px solid #3e3a32;
  border-radius: 0 0 10px 10px;
}

.slider {
  margin: 0 auto;
  max-width: 477px;
  height: 318px;
  border: 20px solid black;
  border-bottom: 35px solid black;
  border-radius: 20px 20px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.slider .slim {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider input {
  position: absolute;
  top: 120%;
  left: 45%;
  cursor: pointer;
}

.slider input:nth-child(2) {
  margin-left: 22px;
}

.slider input:nth-child(3) {
  margin-left: 44px;
}

.slider .image1 {
  background: url(../img/ludi.png) 0 0 no-repeat;
  width: 445px;
}

.slider .image2 {
  background: url(../img/ludi.png) 0 0 no-repeat;
  width: 445px;
}

.slider .image3 {
  background: url(../img/ludi.png) 0 0 no-repeat;
  width: 445px;
}

.slider #slider1:checked ~ .slim {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

.slider #slider2:checked ~ .slim {
  -webkit-transform: translateX(-34%);
      -ms-transform: translateX(-34%);
          transform: translateX(-34%);
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

.slider #slider3:checked ~ .slim {
  -webkit-transform: translateX(-68%);
      -ms-transform: translateX(-68%);
          transform: translateX(-68%);
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

h2 {
  margin: 210px auto 90px;
  color: #394b50;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block .block1 {
  max-width: 549px;
}

.block .block1 div {
  min-height: 92px;
  margin-bottom: 65px;
  position: relative;
}

.block .block1 div:nth-child(1)::before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background: url(../img/1-1.png) 0px 0px no-repeat;
  -webkit-transition: .6s all;
  -o-transition: .6s all;
  transition: .6s all;
}

.block .block1 div:nth-child(1):hover:before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background: url(../img/1.png) 0px 0px no-repeat;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
}

.block .block1 div:nth-child(2) {
  background: url(../img/2.png) 0px 0px no-repeat;
}

.block .block1 div:nth-child(3) {
  background: url(../img/3.png) 0px 0px no-repeat;
}

.block .block1 div > h2 {
  padding-left: 81px;
  font-family: 'Lato';
  font-size: 16px;
  font-weight: bold;
  color: #394b50;
  margin: 0 0 21px;
  text-align: left;
}

.block .block1 div > p {
  max-width: 488px;
  padding-left: 81px;
  font-family: 'arial';
  font-size: 13px;
  font-weight: normal;
  line-height: 1.69;
  color: #7b7b7b;
}

.block .block2 {
  max-width: 549px;
}

.block .block2 div {
  min-height: 92px;
  margin-bottom: 65px;
}

.block .block2 div:nth-child(1) {
  background: url(../img/4.png) 0px 0px no-repeat;
}

.block .block2 div:nth-child(2) {
  background: url(../img/5.png) 0px 0px no-repeat;
}

.block .block2 div:nth-child(3) {
  background: url(../img/6.png) 0px 0px no-repeat;
}

.block .block2 div > h2 {
  display: block;
  padding-left: 81px;
  font-family: 'Lato';
  font-size: 16px;
  font-weight: bold;
  color: #394b50;
  margin: 0 0 21px;
  text-align: left;
}

.block .block2 div > p {
  max-width: 521px;
  padding-left: 81px;
  font-family: 'arial';
  font-size: 13px;
  font-weight: normal;
  line-height: 1.69;
  color: #7b7b7b;
}

.banner1-ABout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 623px;
}

.banner1-ABout .banner1 {
  background-image: url(../img/banner1.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
}

.banner1-ABout #About_us {
  width: 50%;
  background-color: #ffc155;
}

.banner1-ABout #About_us > h2 {
  font-family: 'Raleway';
  font-size: 30px;
  font-weight: 900;
  letter-spacing: -0.75px;
  color: #fff;
  margin: 164px 0 0 81px;
  text-align: left;
}

.banner1-ABout #About_us > p {
  max-width: 493px;
  margin: 28px 0 0 81px;
  font-family: 'arial';
  font-size: 13px;
  font-weight: normal;
  line-height: 1.85;
  letter-spacing: normal;
  color: #fff;
}

.banner1-ABout #About_us a {
  display: inline-block;
  font-family: 'Lato';
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  color: #fff;
  margin: 33px 0 0 81px;
  padding: 17px 33px 16px 32px;
  border-radius: 2px;
  border: solid 1px #e7ad48;
}

#Pricing {
  background-color: #e7edf3;
  height: 898px;
}

#Pricing > h2 {
  margin: 0 auto 79px;
  padding: 137px 0 0;
}

.Choos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 405px) {
  .Choos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.Choos .Choos1 {
  width: 33.33%;
  height: 441px;
  border-radius: 3px;
  border: solid 1px #ccd5df;
  background-color: #fff;
  text-align: center;
  color: #818b95;
}

@media (max-width: 600px) {
  .Choos .Choos1 {
    height: 100%;
  }
}

.Choos .Choos1:nth-child(1):hover, .Choos .Choos1:nth-child(2):hover, .Choos .Choos1:nth-child(3):hover {
  background-color: #709dca;
  width: 395px;
  height: 501px;
  margin: -30px auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
  color: #fff;
}

.Choos .Choos1:nth-child(1):hover > p, .Choos .Choos1:nth-child(2):hover > p, .Choos .Choos1:nth-child(3):hover > p {
  color: #fff;
}

.Choos .Choos1 > h3 {
  margin-top: 53px;
  text-transform: uppercase;
  font-family: 'Lato';
  font-size: 25px;
  font-weight: 300;
  font-style: normal;
}

.Choos .Choos1 > p:nth-child(2) {
  font-family: 'lato';
  margin-top: 23px;
  font-size: 60px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #e7ad48;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.Choos .Choos1 > p > span {
  display: inline-block;
  font-size: 30px;
}

.Choos .Choos1 > p:nth-child(3) {
  margin: 3px auto 33px 0;
  text-transform: uppercase;
  font-family: 'Lato';
  font-size: 15px;
  font-weight: 300;
}

.Choos .Choos1 > p:nth-child(4), .Choos .Choos1 > p:nth-child(6) {
  margin: -4px auto;
  text-transform: uppercase;
  font-family: 'Lato';
  font-size: 14px;
  font-weight: normal;
  line-height: 2.86;
  max-width: 329px;
  border-top: 1px solid #e2e9f0;
}

.Choos .Choos1 > p:nth-child(5) {
  margin: 4px auto;
  text-transform: uppercase;
  font-family: 'Lato';
  font-size: 14px;
  font-weight: normal;
  line-height: 2.86;
  max-width: 329px;
  border-top: 1px solid #e2e9f0;
}

.Choos .Choos1 > a {
  display: inline-block;
  text-transform: uppercase;
  margin: 22px auto;
  padding: 16px 21px;
  border-radius: 2px;
  background-color: #ffbb42;
  font-family: 'Lato';
  font-size: 14px;
  font-weight: normal;
  color: #fff;
}

#How > h2 {
  color: #394b50;
  margin-top: 155px;
}

#How .block_How {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 72px;
  background: url(../img/arrow-2.png) center center no-repeat, url(../img/arrow-1.png) 23% top no-repeat, url(../img/arrow-1.png) right 21% top no-repeat;
}

#How .block_How .block_how_item {
  max-width: 213px;
  min-height: 299px;
  text-align: center;
}

#How .block_How .block_how_item:first-child {
  background: url(../img/h1.png) center 40px no-repeat;
}

#How .block_How .block_how_item:nth-child(2) {
  background: url(../img/h2.png) center 40px no-repeat;
}

#How .block_How .block_how_item:nth-child(3) {
  background: url(../img/h3.png) center 40px no-repeat;
}

#How .block_How .block_how_item:last-child {
  background: url(../img/h4.png) center 40px no-repeat;
}

#How .block_How .block_how_item > h3 {
  margin: 199px 0 28px;
  font-family: 'Lato';
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.1;
  color: #394b50;
}

#How .block_How .block_how_item > p {
  max-width: 213px;
  margin: 28px 0 0;
  font-family: 'arial';
  font-size: 13px;
  font-weight: normal;
  line-height: 1.69;
  color: #7b7b7b;
}

#How > a {
  display: block;
  width: 168px;
  text-transform: uppercase;
  font-family: 'Lato';
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  color: #fff;
  margin: 91px auto;
  padding: 18px 27px 16px 28px;
  border-radius: 2px;
  background-color: #ffbb42;
}

#Happy {
  background: #ffc155;
}

#Happy > h3 {
  padding-top: 141px;
  margin: 0 auto 58px;
}

#Happy .block_Happy {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(567px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(567px, 1fr));
  -ms-grid-rows: (241px)[2];
      grid-template-rows: repeat(2, 241px);
}
